body {
    background-color: #4d433e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    background: url(../imgs/background.jpg); 
    width: 600px;
    height: 370px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parameter_values,
.parameter_melody {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.a-li,
.b-li {
    cursor: pointer;
}
.a-container,
.b-container {
    display: flex;
}
.a-select,
.b-select,
.melody-select {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display: block;
}
.value_a,
.value_b,
.value_melody {
    cursor: pointer;
}
.a-container,
.b-container {
    width: 80px;
    height: 30px;
    background: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
}

.melody_name {
    width: 130px;
    font-size: 30px;
}
.melody-container {
    width: 360px;
    gap: 20px;
    height: 70px;
    display: flex;
    background: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.melody-li,
.value_melody {
    font-size: 22px;
}

.buttons,
.buttons_melody {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.btn_disturbance,
.btn_nondisturbance,
.melody_btn_disturbance,
.melody_btn_nondisturbance {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #95999b;
}
.btn_disturbance:hover,
.btn_nondisturbance:hover,
.melody_btn_disturbance:hover,
.melody_btn_nondisturbance:hover {
    background-color: #948a7b;
}
.selected {
    background-color: #95999b;
}
.a-li:hover,
.b-li:hover {
    background-color: #95999b;
}

@media(max-width: 768px) {
    .container {
        background: url(../imgs/background-mobile.jpg); 
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
        padding: 5px;
    }

    .buttons,
    .buttons_melody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 300px;
        align-self: center;
    }

    .melody-container {
        width: 300px;
        gap: 20px;
        height: 70px;
        display: flex;
        flex-direction: column;
        background: #f1f1f1;
        padding: 10px;
        font-size: 30px;
        border-radius: 10px;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}