body {
    background-color: #4d433e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    background: url(../imgs/background.jpg); 
    width: 600px;
    height: 370px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parameter_values {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.a-li,
.b-li {
    cursor: pointer;
}
.a-container,
.b-container {
    display: flex;
}
.a-select,
.b-select {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display: block;
}
.value_a,
.value_b {
    cursor: pointer;
}
.a-container,
.b-container {
    width: 80px;
    height: 30px;
    background: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.btn_disturbance,
.btn_nondisturbance {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #95999b;
}
.btn_disturbance:hover,
.btn_nondisturbance:hover {
    background-color: #948a7b;
}
.selected {
    background-color: #95999b;
}
.a-li:hover,
.b-li:hover {
    background-color: #95999b;
}

@media(max-width: 768px) {
    .container {
        background: url(../imgs/background-mobile.jpg); 
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
        padding: 5px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 300px;
        align-self: center;
    }
}